.header {
    padding: 80px;
    text-align: left;
    background: #703b1a;
}

.header h1 {
    font-size: 40px;
}



/* Main body style sheet with only one column */
.main {
    margin: 5rem auto;
    width: min(90%, 100rem);
}

/* Main body style sheet with two columns */
.columns {
    margin: 5rem auto;
    width: min(90%, 100rem);
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2em;
}

.columnsstudy {
    margin: 5rem auto;
    width: min(90%, 100rem);
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2em;
}

.wrapper {
    user-select: none;
}
.wrapper .time {
    height: 100 px;
    background: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.wrapper .time span {
    width: 20 px;
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
}

time span.colon {
    width: 5 px;
}

.wrapper .buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 6px, 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: white;
    background: brown;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button.active,
.buttons button.stopActive {
    cursor: not-allowed;
    opacity: 0.8;
}

.container {
    width: 90%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: brown;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  }
  
  .kanban-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
  }

  .task-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
  }
  
  #todo {
    background-color: #fec6d1;
  }
  
  #inprogress {
    background-color: #ffaf00;
  }
  
  #done {
    background-color: #018b01;
  }

@media (min-width: 55em) {
    .columns {
        grid-auto-flow: column;
    }
    .columnsstudy {
        grid-auto-flow: column;
    }
}

